# Build
/build/
*/build/

# Gradle
.gradle/
gradle-app.setting

# IntelliJ IDEA
/.idea/
*.iml
*.ipr
*.iws

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias descargadas de Gradle
/.gradle/

# Archivos temporales de Java
*.class
